// Variables

$color-white: #fff;
$color-black: #000;
$color-grey: #E5E5E5;

$color-grey-dark-1: #757575;
$color-grey-dark-2: #DADADA;
$color-grey-dark-3: #979797;
$color-grey-dark-4: #A1A1A1;
$color-grey-dark-5: #4E5051;
$color-grey-dark-6: #373A3C;
$color-grey-dark-7: #2B2F31;
$color-grey-dark-8: #4E5051;
$color-grey-dark-9: #888686;
$color-grey-dark-10: #525050;

$color-grey-light-1: #E0E0E0;
$color-grey-light-2: #BCBCBC;
$color-grey-light-3: #F2F2F2;
$color-grey-light-4: #909293;
$color-grey-light-5: #BDBDBD;
$color-grey-light-6: #E5E5E5;
$color-grey-light-7: #FBFBFB;
$color-grey-light-8: #F0F0F0;
$color-grey-light-9: #F9F9F9;
$color-grey-light-10: #F6F6F6;
$color-grey-light-11: #909293;
$color-grey-light-12: #f8f8f8;


$color-primary: #4285F4;
$color-secondary: #4FA748;
$color-tertiary: #F3D347;


$color-invalid: #FF0707;
$color-error: #CA0A0A;

$grid-width: 114rem;