.login-down {
    display: flex;
    justify-content: space-between;
}

.forget-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.full-box {
    width: 100%;
}

.seller-heading {
    font-family: "Biryani", sans-serif;
    font-weight: 900;
    font-size: 1.6rem;
    color: $color-grey-dark-6;
}


.search-box {
    padding: 2rem 0 1rem 2rem !important;


    @include response(phone) {
        padding: 1rem 0 .5rem 8rem !important;
        width: 100%;
    }
}
.forget-agree {
    position: absolute;
    bottom: 2rem;
    left: 60%;
}